<div class="container mt-5">
  <div class="text-center">
    <h3 class="my-4">Saisie fiche hors frais</h3>
  </div>

 
  <div class="mb-3">
    <label for="dateFrais" class="form-label">Date des frais</label>
    <input
      type="date"
      id="dateFrais"
      class="form-control"
      [(ngModel)]="dateFrais"
      name="dateFrais"
      required
      [min]="anneeCourante + '-01-01'"
      [max]="anneeCourante + '-12-31'"
    />
  </div>

  <div class="border rounded p-3 mb-4">
    <h5 class="mb-3">FRAIS HORS FORFAIT</h5>
    
    <div *ngFor="let frais of fraisHorsForfait; let i = index" class="row mb-3">
      <!-- Libellé -->
      <div class="col-sm-4 mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Libellé"
          [(ngModel)]="frais.libelle"
          name="libelle{{ i }}"
          required
        />
      </div>

      <!-- Justificatif -->
      <div class="col-sm-4 mb-2">
        <input
          type="text"
          class="form-control"
          placeholder="Justificatif"
          [(ngModel)]="frais.justificatif"
          name="justificatif{{ i }}"
          required
        />
      </div>

      <!-- Montant -->
      <div class="col-sm-3 mb-2">
        <input
          type="number"
          class="form-control"
          placeholder="Montant"
          [(ngModel)]="frais.montant"
          name="montant{{ i }}"
          required
          [min]="0"
          step="0.01"
        />
      </div>

      <!-- Bouton Supprimer -->
      <div class="col-sm-1 d-flex align-items-center justify-content-center">
        <button
          type="button"
          class="btn btn-danger"
          (click)="supprimerFrais(i)"
        >
          Supprimer
        </button>
      </div>
    </div>

    <!-- Bouton Ajouter -->
    <div class="text-center">
      <button type="button" class="btn btn-success" (click)="ajouterFrais()">Ajouter un frais</button>
    </div>
  </div>

  <!-- Boutons d'action -->
  <div class="text-center">
    <button type="button" class="btn btn-primary mx-2" (click)="onSubmit()">Envoyer</button>

    <button type="button" class="btn btn-secondary mx-2" (click)="onReset()">Effacer</button>
  </div>
   <!-- Affichage du message de succès -->
   <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <!-- Affichage du message d'erreur -->
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

</div>
